.collection__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.collection__title {
    font-size: 4rem;
    padding-bottom: 2.4rem;
    color: var(--color-title);
    max-width: 77rem;
}

.collection__text {
    font-size: 1.8rem;
    padding: 0 12rem;
    color: var(--color-text-second);
    font-family: 'Lato', sans-serif;
    line-height: 3.2rem;
    max-width: 77rem;
}

.collection__card_wrapper {
    position: relative;
}

.collection__card {
    background: linear-gradient(129.62deg, #DFF4FA 1.15%, #C8EEF8 99.33%);
    box-shadow: 0px 24px 104px rgba(0, 131, 188, 0.1);
    border-radius: 1.6rem;
    position: relative;
    margin-top: 16.2rem;
    margin-bottom: 29.2rem;
}

.collection__card_logo {
    width: 4.25rem;
    height: 4rem;
    margin: 4.5rem 16rem 19rem;
}

.collection__tab {
    background-color: #fff;
    align-items: center;
    padding: 1.8rem 2.4rem;
    border-radius: 1.3rem;
    position: absolute;
    width: 105%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    bottom: 25%;
    left: -13.24%;
}

.collection__tab_left {
    display: flex;
    align-items: center;
}

.collection__avatar {
    height: 4rem;
    border-radius: 50%;
}

.collection__login {
    margin-left: 1.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-title);
}

.collection__money {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: var(--color-text-second);
    font-weight: normal;
}

.collection__features {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

.collection__feature_title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1.5rem;
    color: var(--color-title);
    z-index: 1000;
    white-space: nowrap;
}


.collection__background {
    position: absolute;
    top: -88%;
    left: -55%;
    width: 76.1rem;
    height: 76.1rem;
}

.collection__feature_2fa {
    position: absolute;
    left: 3rem;
    top: 24%;
    transform: translateX(-50%);
}

.collection__feature_ens {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -35%);
}

.collection__feature_identity {
    position: absolute;
    left: 4rem;
    bottom: 18%;
    transform: translateX(-50%);
}

.collection__feature_eo {
    position: absolute;
    right: -10rem;
    top: 22%;
    transform: translateX(-50%);
}

.collection__feature_eo > .collection__feature_title {
    margin-top: .6rem;
}

.collection__feature_et {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -40%);
}

.collection__feature_er {
    position: absolute;
    right: -7rem;
    bottom: 18%;
    transform: translateX(-50%);
}

.collection__circle_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border: 1px solid #E0F1F6;
    border-radius: 50%;
    z-index: -300;
}

.collection__circle_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    opacity: .8;
    border: 1px solid #E0F1F6;
    z-index: -300;
}

.collection__circle_3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: .6;
    border: 1px solid #E0F1F6;
    z-index: -300;
}

.collection__glow {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1000;
    bottom: -20%;
}

@media only screen and (max-width: 1044px) {
    .collection__title {
        font-size: 3.8rem;
    }

    .collection__background {
        width: 59.7rem;
        height: 59.7rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -400;
    }

    .collection__text {
        padding: 0;
    }

    .collection__features {
        width: 100%;
        height: 100%;
    }
    
    .collection__feature_2fa {
        position: absolute;
        left: 3.5rem;
        top: 15%;
        transform: translateX(-50%);
    }
    
    .collection__feature_identity {
        position: absolute;
        left: 4rem;
        bottom: 10%;
        transform: translateX(-50%);
    }

    .collection__feature_et {
        right: 1.5rem;
    }
    
    .collection__feature_eo {
        position: absolute;
        right: -8rem;
        top: 14%;
        transform: translateX(-50%);
    }
    
    .collection__feature_er {
        position: absolute;
        right: -5.5rem;
        bottom: 10%;
        transform: translateX(-50%);
    }

    .collection__card {
        margin-bottom: 24rem;
    }
}

@media only screen and (max-width: 836px) {
    .collection__card_wrapper {
        transform: scale(.93);
    }
}

@media only screen and (max-width: 767px) {
    .collection__background {
        width: 80vw;
        height: 80vw;
    }

    .collection__card_logo {
        margin: 4.5rem 16rem 19rem;
        margin: 3.5rem 18vw 16rem;
    }

    
}

@media only screen and (max-width: 650px) {
    .collection__card_wrapper {
        transform: unset;
    }

    .collection__glow {
        bottom: -10rem;
        transform: scale(1.6);
        z-index: -1000;
    }

    .collection__title {
        font-size: 2.8rem;
    }

    .collection__card_logo {
        width: 2.865rem;
        height: 2.7rem;
        margin: 3rem 10rem 12.76rem 10rem;
    }

    .collection__tab {
        padding: 1.36rem .97rem 1.07rem 1.025rem;
    }

    .collection__avatar {
        height: 2.7rem;
    }

    .collection__login {
        font-size: 1.6rem;
    }

    .collection__money {
        font-size: 1.3rem;
    }

    .collection__circle_1 {
        width: 50vw;
        height: 50vw;
    }

    .collection__circle_2 {
        width: 75vw;
        height: 75vw;
    }

    .collection__circle_3 {
        width: 100vw;
        height: 100vw;
    }


    .collection__card {
        margin-top: 5.5rem;
        margin-bottom: 72.7rem;
    }
    
    .collection__features {
        display: flex;
        top: 18rem;
        transform: translateY(50%);
    }

    .collection__feature_2fa {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
    
    .collection__feature_ens {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 10rem;
    }
    
    .collection__feature_identity {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 20rem;
    }
    
    .collection__feature_eo {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 30rem;
    }
    
    .collection__feature_et {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 40rem;
    }
    
    .collection__feature_er {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        top: 50rem;
    }
}

@media only screen and (max-width: 320px) {
    .collection__card_wrapper {
        margin-left: 3rem;
    }

    .collection__background {
        left: unset;
        left: calc(50% - 1.5rem);
    }
}

@keyframes card_glow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}