.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.9rem 0;
}

.footer__content {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footer__content_press-kit {
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-main);
}

.copyright {
    font-size: 1.6rem;
    color: var(--color-text-second);
    transform: translateX(-50%);
}

@media only screen and (max-width: 810px) {
    .footer__row {
        flex-direction: row;
        align-items: center;
    }

    .footer__content {
        width: 100%;
        align-items: center;
        margin-top: 0;
        margin-left: 4.4rem;
    }

    .copyright {
        margin-left: 4.4rem;
    }
}

@media only screen and (max-width: 600px) {
    .copyright {
        transform: unset;
        margin-left: 0;
        margin: 0;
    }

    .footer__row {
        flex-direction: column;
        align-items: flex-start;
        padding: 2.3rem 1.1rem;
    }

    .footer__content {
        margin-top: 3.4rem;
        margin-left: 0;
    }
}