.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.9rem 0;
}

.footer__content {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footer__content_press-kit {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-text-main);
}

.footer__content > .copyright {
    transform: translateX(-50%);
}

.copyright {
    font-size: 1.6rem;
    color: var(--color-text-second);
}

@media only screen and (min-width: 320px) {
    .footer__row {
        align-items: flex-start;
        flex-direction: column;
        padding-top: 2.3rem;
        padding-bottom: 1.6rem;
    }

    .footer__content {
        width: 100%;
        justify-content: space-between;
        margin-top: 3.4rem;
    }

    .copyright {
        transform: translateX(0);
    }
}

@media only screen and (min-width: 600px) {
    .footer__row {
        flex-direction: row;
        align-items: center;
    }

    .footer__content {
        align-items: center;
        margin-top: 0;
        margin-left: 4.4rem;
    }
}

@media only screen and (min-width: 1200px) {
    .footer__row {
        padding: 4.9rem 0;
    }

    .footer__content {
        width: 50%;
    }

    .copyright {
        transform: translateX(-50%);
    }
}