.heroimage__row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.25fr;
    padding-top: 22.3rem;
    position: relative;
}

.heroimage__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 55.2rem;
}

.heroimage__left__title {
    font-weight: normal;
}

.heroimage__left__content {
    color: var(--color-text-second);
    margin-top: 4rem;
    font-size: 2.2rem;
    line-height: 3.6rem;
}

.heroimage__right {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (min-width: 200px) {
    .heroimage__row {
        grid-template-columns: 1fr;
        grid-gap: 7.4rem;
    }

    .heroimage__right {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 320px) {
    .heroimage__row {
        grid-row-gap: 3rem;
    }
}

@media only screen and (min-width: 600px) {
    .heroimage__left {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) {
    .heroimage__row {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1.25fr;
    }

    .heroimage__left {
        margin: 0;
    }
}