.social__links {
    position: absolute;
    position: fixed;
    top: 3.6rem;
    right: 3.7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);   align-items: center;
    grid-gap: 1.6rem;
    list-style-type: none;
    z-index: 1000;
}


.social__link > a {
    width:  3.6rem;
    height: 3.6rem;
    background-color: var(--color-social-links);
    box-shadow: 0px 8px 8px rgba(0, 131, 188, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.social__link > a > .social__link_icon {
    transform: translate(50% 500%);
    cursor: pointer;
}

.social__link_medium {
    height: 2rem;
    width: 2rem;
    background: url("../../assets/images/svg/SocialLinks/Medium.svg") no-repeat center;
}

.social__link_discord {
    height: 2rem;
    width: 2rem;
    background: url("../../assets/images/svg/SocialLinks/Discord.svg") no-repeat center;
}

.social__link_twitter {
    height: 2rem;
    width: 2rem;
    background: url("../../assets/images/svg/SocialLinks/Twitter.svg") no-repeat center;
}

.social__link_linkedin {
    height: 2rem;
    width: 2rem;
    background: url("../../assets/images/svg/SocialLinks/Linkedin.svg") no-repeat center;
}

.social__link:hover > a {
    background: linear-gradient(91.11deg, #1F46C4 0%, #0E1F98 100%);
}

.social__link:hover .social__link_medium {
    background: url("../../assets/images/svg/SocialLinks/Medium_hover.svg") no-repeat center;
}

.social__link:hover .social__link_discord {
    background: url("../../assets/images/svg/SocialLinks/Discord_hover.svg") no-repeat center;
}

.social__link:hover .social__link_twitter {
    background: url("../../assets/images/svg/SocialLinks/Twitter_hover.svg") no-repeat center;
}

.social__link:hover .social__link_linkedin {
    background: url("../../assets/images/svg/SocialLinks/Linkedin_hover.svg") no-repeat center;
}

.social__link:active > a {
    background: linear-gradient(91.11deg, #1239B7 0%, #061895 100%);;
    box-shadow: unset;
}

.social__links .media {
    opacity: 0;
    animation: fadeInUp 1s .5s;
    animation-fill-mode: both;
}

.social__links .discord {
    opacity: 0;
    animation: fadeInUp 1s 1s;
    animation-fill-mode: both;
}

.social__links .twitter {
    opacity: 0;
    animation: fadeInUp 1s 1.25s;
    animation-fill-mode: both;
}

@media only screen and (max-width: 767px) {
    pointer-events: none;
}

@media only screen and (max-width: 614px) {
    .social__links {
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: 1fr;
        grid-column-gap: .8rem;
        top: 1.6rem;
        right: 2rem;
        position: absolute;
    }
}