.team {
    background-color: #F4FAFC;
    padding-top: 9.4rem;
    padding-bottom: 12.8rem;
    position: relative;
    background-image: url("../../assets/images/svg/Background/LogoOutline.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.team__row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3.3fr;
    grid-gap: 13rem;
}

.team__title {
    margin-bottom: 2.4rem;
    font-size: 4rem;
    font-weight: normal;
}

.team__text {
    font-size: 1.8rem;
    color: var(--color-text-second);
}

.team__wrapper {
    display: flex;
    flex-direction: column;
}

.team__founders {
    display: flex;
    margin-bottom: 5.6rem;
}

.team__founders > .person:not(:last-child) {
    margin-right: 4rem;
}

.team__members {
    display: flex;
}

.team__members > .person:not(:last-child) {
    margin-right: 6.4rem;
}

.person {
    text-align: left;
    position: relative;
}

.person__avatar {
    border-radius: 50%;
}

.person__avatar:hover .person__links{
    display: flex;
    opacity: 1;
}

.team__founders .person__avatar:hover .person__filter_hover {
    opacity: .5;
}

.person__photo {
    border-radius: 50%;
}

.person__filter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 17.4rem;
    height: 17.4rem;
    background-color: #DAE7FF;
    mix-blend-mode: color;
}

.team__members .person__filter {
    width: 100%;
    height: 12.3rem;
}

.person__filter_hover {
    content: '';
    width: 100%;
    width: 17.4rem;
    height: 17.4rem;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90.57deg, #00D6D9 0%, #455CDA 57.81%, #D55DFF 100%);
    border-radius: 50%;
    transition: all .5s;
    opacity: 0;
}

.person__name {
    font-size: 2rem;
    margin-top: 2.4rem;
}

.person__role {
    font-size: 1.4rem;
    color: var(--color-text-second);
}

.person__links {
    position: absolute;
    display: flex;
    top: 9rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    opacity: 0;
}

.person__links > :not(:last-child) {
    margin-right: .8rem;
}

@media only screen and (max-width: 1040px) {
    .team .delimeter {
        margin-left: auto;
        margin-right: auto;
    }

    .team {
        background-image: unset;
    }

    .team__row {
        grid-template-columns: 1fr;
        grid-gap: 7.49rem;
    }

    .team__left {
        text-align: center;
    }

    .team__founders {
        justify-content: center;
        margin-bottom: 8.5rem;
    }

    .team__members {
        justify-content: center;
    }

    .person__links {
        display: flex;
        opacity: 1;
        top: unset;
        bottom: unset;
        bottom: -6.0rem;
        left: 4rem;
    }
    
    .team__founders .person__avatar:hover .person__filter_hover {
        opacity: 0;
    }
}

@media only screen and (max-width: 767px) {
    .team {
        padding-top: 6.2rem;
        padding-bottom: 3.9rem;
    }

    .team .delimeter {
        margin-bottom: 4rem;
    }

    .team__row {
        grid-gap: 4rem
    }

    .team__text {
        padding: 0 2rem;
    }

    .team__members {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .team__members > .person {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .team__founders {
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 8rem;
        margin-bottom: 9.6rem;
        justify-items: center;
        justify-content: space-evenly;
    }

    .team__founders > :last-child {
        margin-left: 4rem;
    }

    .team__members {
        grid-row-gap: 2.8rem;
    }

    .team__founders > .person:not(:last-child) {
        margin-right: 0;
    }

    .team__members > .person:not(:last-child) {
        margin-top: 0;
        margin-right: 0;
    }

    .team__members > .person:last-child {
        margin-top: 0;
    }

    .team {
        background-image: unset;
    }

    .person__links {
        display: flex;
        opacity: 1;
        top: unset;
        bottom: unset;
        bottom: -6.0rem;
    }

    .team__founders .person__avatar:hover .person__filter {
        background: #DAE7FF;
        opacity: unset;
    }

    .team__founders .person__avatar:hover .person__filter_hover {
        opacity: 0;
    }
}

@media only screen and (max-width: 500px) {
    .team__founders {
        display: grid;
        grid-row-gap: 8rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }
    
    .team__title {
        font-size: 2.8rem;
    }

    .team__founders > .person:last-child {
        margin-left: 0;
    }
}