.trusted-by__row {
    display: grid;
    grid-template-columns: 25rem 2fr;
    grid-template-rows: 1fr;
    padding-top: 22.5rem;
    padding-bottom: 15.3rem;
    overflow: hidden;
}

.trusted-by__info {
    display: flex;
    flex-direction: column;
    position: relative
}

.trusted-by__title-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    position: relative;
    padding: 0;
}

.trusted-by__title {
    color: #B55EF7;
    font-weight: bold;
}

.trusted-by__text {
    margin-top: .8rem;
    color: var(--color-text-second);
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.trusted-by__companies {
    display: flex;
    align-items: center;
    justify-items: center;
    grid-column: 2 / 3;
}

.trusted-by__companies_mobile {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 2rem;
    width: 100%;
    justify-items: start;
    align-items: center;
    display: none;
    grid-column: 1 / 3;
}

.trusted-by__company {
    margin-right: 2rem;
}

.trusted-by__company > img {
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.swiper-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    overflow: hidden;
}

.trusted-by__company > img {
    max-width: 100%;
}

.trusted-by__company > .jarvis {
    margin-left: 3.5rem;
    max-width: 45%;
}

.trusted-by__company > .deepit {
    padding-top: 1rem;
    max-width: 80%;
}

.trusted-by__company > .iexec {
    max-width: 80%;
}

.trusted-by__company > .kickback {
    max-width: 80%;
}

.trusted-by__background {
    position: absolute;
    z-index: -1000;
    top: 0;
    transform: translateY(18%);
}

@media only screen and (max-width: 1940px) {
    .trusted-by__row {
        padding-top: 28.5rem;
    }
}

@media only screen and (max-width: 1290px) {
    .trusted-by__row {
        padding-top: 7.7rem;
        padding-bottom: 10.3rem;
    }
}


@media only screen and (max-width: 1040px) {
    .trusted-by__row {
        grid-template-columns: 20rem 1fr;
        grid-template-rows: 1fr;
    }

    .trusted-by__kickback {
        grid-column: 2 / 4;
    }

    .trusted-by__mew {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-left: 3rem;
    }

    .trusted-by__iexec {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 880px) {
    .trusted-by__companies {
        display: none;
    }

    .trusted-by__companies_mobile {
        display: grid;

    }

    .trusted-by__row {
        grid-template-columns:  1fr;
        grid-row-gap: 2.5rem;
        padding-bottom: 7.8rem;
    }
}

@media only screen and (max-width: 670px) {
    .trusted-by__row {
        grid-column-gap: 0;
    }

    .trusted-by__companies_mobile {
        grid-template-columns: 1fr .5fr .5fr 1fr;
        justify-content: start;
    }

    .trusted-by__company_kickback {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    .trusted-by__company_santiment {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .trusted-by__company_ow {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .trusted-by__company_ow > img {
        max-width: 80%;
    }

    .trusted-by__company_cl {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
        display: flex;
        justify-content: flex-end;
    }

    .trusted-by__company_cl > img {
        max-width: 80%;
    }

    .trusted-by__company_ethSimple {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .trusted-by__company_ethSimple > img {
        max-width: 80%;
    }

    .trusted-by__company_hero {
        grid-column: 3 / 5;
        grid-row: 4 / 5;
        display: flex;
        justify-content: flex-end;
    }

    .trusted-by__company_hero > img {
        max-width: 80%;
    }
}

@media only screen and (max-width: 560px) {
    .trusted-by__row {
        grid-template-columns:  1fr;
        grid-row-gap: 2.5rem;
        padding-bottom: 7.8rem;
    }
}

@media only screen and (max-width: 370px) {
}

@keyframes left_glow {
    50% {
        transform: scale(1.2);
    }

    100% {
        top: -25rem;
        transform: scale(1);
    }
}