:root {
    --color-title: #0F0C4A;
    --color-social-links: #fff;
    --color-text-main: #0F0C4A;
    --color-text-second: #7D7C9C;
    --color-input-1: #0F0C4A;
    --color-signup-background: #ffffff;
    --color-mint: #D7F0F7;
}
