@font-face {
  font-family: "HelveticaNeue";
  src: url('../../assets/fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url('../../assets/fonts/HelveticaNeueMedium.ttf');
}

:root {
  font-family: 'Tajawal', sans-serif;
}

h1 {
  margin: 0;
  font-size: 5.6rem;
}

h6 {
  font-size: 1.7rem;
}

a {
  font-size: 1.6rem;
}