.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  width: 48px;
  height: 4px;
  background: linear-gradient(96.84deg, #00D6D9 0%, #455CDA 57.81%, #D55DFF 100%);
  border-radius: 4px;
}

bold {
  font-weight: 700;
  color: yellow;

}

@media (min-width: 200px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1171px;
  }
}

.bg {
  position: absolute;
}
